Source: ubuntu-touch-session
Section: x11
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: debhelper (>= 9),
Standards-Version: 3.9.5
# if you don't have have commit access to this branch but would like to upload
# directly to Ubuntu, don't worry: your changes will be merged back into the
# upstream branch
Vcs-Bzr: lp:session-manager-touch

Package: ubuntu-touch-session
Architecture: all
Depends: lightdm (>= 1.9.5),
         unity-system-compositor (>= 0.0.3),
         ubuntu-app-launch (>= 0.1+13.10.20130923.4-0ubuntu1~),
         ${misc:Depends},
         ${shlibs:Depends},
Breaks: unity8 (<< 7.85),
Description: Ubuntu Session Manager for Ubuntu Touch Devices
 The ubuntu-touch-session tool aims to setup a very simple session
 manager for the ubuntu-touch mobile shell.
